   <!-- About -->
   <section class="section entry-post" style="padding-bottom: 0">
      <div class="container">
         <div class="row">
            <div class="span12">
               <div class="titlebox">
                  <h2 class="subtitle">Our team</h2>
                  <h1 class="maintitle">WHO ARE WE?</h1>
                  <p>Sed velit tellus, tempus sit amet facilisis ut, vulputate at mi. Aliquam sollicitudin augue eu lectus eleifend, quis molestie ante sollicitudin. Donec scelerisque justo vitae lorem pulvinar fringilla.</p>
               </div>
               <div class="spacer"></div>
            </div><!-- /.span12 -->
            <div class="span3">
              <div class="team">
                <div class="photo">
                  <div class="overlays">
                    <img src="images/team/1.jpg" alt="image">
                  </div>
                </div>
                <div class="info">
                  <h5 class="name">Jonathan Crannes</h5>
                  <p class="position">Editorial Design</p>
                </div>
                <ul class="socials unstyled">
                  <li><a href="#"><i class="icons-facebook"></i></a></li>
                  <li><a href="#"><i class="icons-twitter"></i></a></li>
                  <li><a href="#"><i class="icons-dribbble"></i></a></li>
                  <li><a href="#"><i class="icons-behance"></i></a></li>
                </ul>
                <div class="clearfix"></div>
              </div><!-- /.team -->
            </div><!-- /.span3 -->
            <div class="span3">
              <div class="team">
                <div class="photo">
                  <div class="overlays">
                    <img src="images/team/2.jpg" alt="image">
                  </div>
                </div>
                <div class="info">
                  <h5 class="name">Michael Bonose</h5>
                  <p class="position">Illustrator</p>
                </div>
                <ul class="socials unstyled">
                  <li><a href="#"><i class="icons-facebook"></i></a></li>
                  <li><a href="#"><i class="icons-twitter"></i></a></li>
                  <li><a href="#"><i class="icons-dribbble"></i></a></li>
                  <li><a href="#"><i class="icons-behance"></i></a></li>
                </ul>
                <div class="clearfix"></div>
              </div><!-- /.team -->
            </div><!-- /.span3 -->
            <div class="span3">
              <div class="team">
                <div class="photo">
                  <div class="overlays">
                    <img src="images/team/3.jpg" alt="image">
                  </div>
                </div>
                <div class="info">
                  <h5 class="name">Simon Hunt</h5>
                  <p class="position">Designer</p>
                </div>
                <ul class="socials unstyled">
                  <li><a href="#"><i class="icons-facebook"></i></a></li>
                  <li><a href="#"><i class="icons-twitter"></i></a></li>
                  <li><a href="#"><i class="icons-dribbble"></i></a></li>
                  <li><a href="#"><i class="icons-behance"></i></a></li>
                </ul>
                <div class="clearfix"></div>
              </div><!-- /.team -->
            </div><!-- /.span3 -->
            <div class="span3">
              <div class="team">
                <div class="photo">
                  <div class="overlays">
                    <img src="images/team/4.jpg" alt="image">
                  </div>
                </div>
                <div class="info">
                  <h5 class="name">Gregory Willson</h5>
                  <p class="position">Webdesign</p>
                </div>
                <ul class="socials unstyled">
                  <li><a href="#"><i class="icons-facebook"></i></a></li>
                  <li><a href="#"><i class="icons-twitter"></i></a></li>
                  <li><a href="#"><i class="icons-dribbble"></i></a></li>
                  <li><a href="#"><i class="icons-behance"></i></a></li>
                </ul>
                <div class="clearfix"></div>
              </div><!-- /.team -->
            </div><!-- /.span3 -->
            <div class="spacer large"></div>
            <div class="span6 aboutTrigger">
              <h3 class="title">A BRIEF HISTORY OF OUR COLLECTIVE</h3>
              <div class="spacer small"></div>
              <div class="text-block">
                <p>Sed quis turpis eu nulla pretium porta. In volutpat augue ut odio iaculis sagittis. Donec enim massa, euismod at velit vitae, viverra venenatis leo. Donec hendrerit condimentum sem, sit amet tempor enim posuere et. In sit amet quam ante. In dignissim dui risus, non ornare enim tincidunt nec. Sed sit amet enim eget sapien convallis posuere. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Nunc et tempor magna, quis egestas lorem. Vestibulum fringilla non lorem id dictum.</p>
                <p>Etiam laoreet consequat mauris, a congue lectus sodales eget. Morbi blandit, ipsum ac consequat molestie, nisi enim euismod purus, in consectetur nisl eros auctor orci.</p>
              </div>
            </div><!-- /.span6 -->
            <div class="span6 aboutTrigger">
              <h3 class="title">KNOWLEDGE</h3>
              <div class="spacer small"></div>
              <div class="progress-single">
                <div class="name">ADOBE PHOTOSHOP</div>
                <div class="perc">92%</div>
                <div class="progress-bar" data-percent="92" data-waypoint-active="yes">
                  <div class="progress-animate"></div>
                </div>
              </div><!-- /.progress-single -->
              <div class="progress-single">
                <div class="name">ADOBE ILLUSTRATOR</div>
                <div class="perc">70%</div>
                <div class="progress-bar" data-percent="70" data-waypoint-active="yes">
                  <div class="progress-animate"></div>
                </div>
              </div><!-- /.progress-single -->
              <div class="progress-single">
                <div class="name">ADOBE INDESIGN</div>
                <div class="perc">88%</div>
                <div class="progress-bar" data-percent="88" data-waypoint-active="yes">
                  <div class="progress-animate"></div>
                </div>
              </div><!-- /.progress-single -->
              <div class="progress-single">
                <div class="name">WACOM</div>
                <div class="perc">75%</div>
                <div class="progress-bar" data-percent="75" data-waypoint-active="yes">
                  <div class="progress-animate"></div>
                </div>
              </div><!-- /.progress-single -->
            </div><!-- /.span6 -->
            <div class="spacer"></div>
            <hr class="color">
            <ul class="unstyled brands">
              <li>
                 <a href="#"><img src="images/brands/1.png" alt="image"></a>
              </li>
              <li>
                 <a href="#"><img src="images/brands/2.png" alt="image"></a>
              </li>
              <li>
                 <a href="#"><img src="images/brands/3.png" alt="image"></a>
              </li>
              <li>
                 <a href="#"><img src="images/brands/4.png" alt="image"></a>
              </li>
              <li>
                 <a href="#"><img src="images/brands/5.png" alt="image"></a>
              </li>
              <li>
                 <a href="#"><img src="images/brands/6.png" alt="image"></a>
              </li>
            </ul><!-- /.brands -->
        </div><!-- /.row -->
      </div><!-- /.container -->
   </section>