   <!-- Parallax Fullwidth -->
      <div id="top-slider" class="parallax-bg1 parallax">
         <div class="overlay"></div>
         <div class="content scroll" style="margin-bottom: 284px; margin-top: 304px;">
            <h2 class="sub-title">Welcome to VocuhDog</h2>
            <ul class="ideas inline">
               <li>Vouch, Pre-Verify, Store & Share your employment documents!</li>
            </ul>
         </div><!-- /.content -->
         <div class="arrow"><i class="icons-angle-down"></i></div>
         <a class="arrow_bg btn-top" href=""></a>
      </div>

      <!-- About -->
      <section class="section about-section">
         <div class="container">
            <div class="row">
               <div class="span12"  id="about">
                  <div class="titlebox">
                     <h2 class="subtitle">About</h2>
                     <h3 class="maintitle">How it works?</h3>
                     <!-- <p>Our goal is first of all a good idea for the brand. Devise a strategic plan for the entire project. Good design approach in the field. Professional execution of the entire order. We do not like when our client is sad.</p> -->
                  </div>
                  <div class="spacer"></div>
               </div><!-- /.span12 -->
               <div class="span3">
                  <div class="iconbox">
                     <div class="icon">
                        <div class="icon-bg"></div>
                        <i class="icons-lightbulb"></i>
                     </div>
                     <h3><a href="">Vouch</a></h3>
                     <p>Vouch for your supervisors, peers, subordinates, friends at workplace!
   Academia vouch and write references for your students!
   Store for life for Free!</p>
                  </div>
               </div><!-- /.span3 -->
               <div class="span3">
                  <div class="iconbox">
                     <div class="icon">
                        <div class="icon-bg"></div>
                        <i class="icons-copy-paste"></i>
                     </div>
                     <h3><a href="">Pre-Verify</a></h3>
                     <p>Pay and get your educational certificates, employment history, address, police verification pre-verified! Keep updating as you move across your career.
   You own this data for life!
   Speed up your hiring process.</p>
                  </div>
               </div><!-- /.span3 -->
               <div class="span3">
                  <div class="iconbox">
                     <div class="icon">
                        <div class="icon-bg"></div>
                        <i class="icons-pen"></i>
                     </div>
                     <h3><a href="">Store</a></h3>
                     <p>Use our ultra secure 128 bit encrypted locker to store all your verified documents for life and free! 
                     No one can access this data without your permission.</p>
                  </div>
               </div><!-- /.span3 -->
               <div class="span3">
                  <div class="iconbox">
                     <div class="icon">
                        <div class="icon-bg"></div>
                        <i class="icons-scissors"></i>
                     </div>
                     <h3><a href="">Share</a></h3>
                     <p>On the click of a button select information and share your data file with any recruiter or admissions office worldwide!</p>
                  </div>
               </div><!-- /.span3 -->
            </div><!-- /.row -->
         </div><!-- /.container -->
      </section>

      <!-- Motto -->
      <section class="section motto-section parallax-bg2 parallax">
         <div class="overlay"></div>
         <div class="container">
            <div class="row">
               <div class="content-section">
                  <div class="span12">
                     <div class="titlebox">
                        <h2 class="subtitle text-white">Motto</h2>
                        <h3 class="maintitle text-color">OUR MAIN MOTTO IS</h3>
                        <p class="text-white">Integer aliquam vitae metus eget tincidunt. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Integer scelerisque convallis consequat. Cras in tempus sem. Cras tristique erat urna, fermentum rutrum velit faucibus ac.</p>
                     </div>
                  </div><!-- /.span12 -->
               </div>
            </div><!-- /.row -->
         </div><!-- /.container -->
      </section>