<!-- Services -->
   <section class="section entry-post">
      <div class="container">
         <div class="row">
            <div class="span12">
               <div class="titlebox">
                  <h2 class="subtitle">Services</h2>
                  <h1 class="maintitle">A FEW INTERESTING FACTS ABOUT US</h1>
                  <p>Fusce nec fermentum arcu, eu elementum libero. Phasellus euismod et turpis ut viverra. Quisque vel tristique tellus. Etiam nec neque eu augue fringilla porta.</p>
               </div>
               <div class="spacer"></div>
            </div><!-- /.span12 -->
            <div class="span3">
               <div class="iconbox">
                  <div class="icon">
                     <div class="icon-bg"></div>
                     <i class="icons-lightbulb"></i>
                  </div>
                  <h3><a>RESPONSIVE</a></h3>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam convallis fermentumurna vitae.</p>
               </div>
            </div><!-- /.span3 -->
            <div class="span3">
               <div class="iconbox">
                  <div class="icon">
                     <div class="icon-bg"></div>
                     <i class="icons-copy-paste"></i>
                  </div>
                  <h3><a>WORDPRESS THEME</a></h3>
                  <p>Mauris neque risus, sagittis condimentum magna nec, suscipit posuere tellus. Vestibulum pharetra auctor.</p>
               </div>
            </div><!-- /.span3 -->
            <div class="span3">
               <div class="iconbox">
                  <div class="icon">
                     <div class="icon-bg"></div>
                     <i class="icons-pen"></i>
                  </div>
                  <h3><a>PROFESSIONAL DESIGN</a></h3>
                  <p>Vivamus suscipit quam quis orci rhoncus, quis porttitor arcu laoreet. Vivamus sollicitudin feugiat dui, quis scelerisque.</p>
               </div>
            </div><!-- /.span3 -->
            <div class="span3">
               <div class="iconbox">
                  <div class="icon">
                     <div class="icon-bg"></div>
                     <i class="icons-scissors"></i>
                  </div>
                  <h3><a>AWESOME PORTFOLIO</a></h3>
                  <p>Phasellus semper est id ante elementum bibendum. In auctor nisl urna, id vestibulum mauris.</p>
               </div>
            </div><!-- /.span3 -->
            <div class="spacer"></div>
            <div class="span12">
               <div class="titlebox">
                  <h2 class="subtitle">Other services</h2>
                  <h1 class="maintitle">MORE INFORMATION ABOUT US</h1>
                  <p>Vestibulum molestie ut libero quis bibendum. Maecenas congue nisl felis, eu molestie tellus sodales nec. Donec ac ullamcorper nisi. Vestibulum molestie ut.</p>
               </div>
               <div class="spacer"></div>
            </div><!-- /.span12 -->
            <div class="span6">
               <div class="accordion">
                  <div class="toggle">
                     <div class="toggle-title active"><span>BRANDING</span></div>
                     <div class="toggle-content">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean ipsum nisi, interdum ut nisi a, congue ultricies arcu. Vivamus sit amet erat orci. Cras congue ligula eros, eget egestas nisi gravida semper. Proin vel malesuada mauris, vitae ultricies arcu. Praesent vitae metus sed massa consectetur vulputate id nec dui.</p>
                     </div>
                  </div><!-- /toggle -->
                  <div class="toggle">
                     <div class="toggle-title"><span>EDITORIAL DESIGN</span></div>
                     <div class="toggle-content">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean ipsum nisi, interdum ut nisi a, congue ultricies arcu. Vivamus sit amet erat orci. Cras congue ligula eros, eget egestas nisi gravida semper. Proin vel malesuada mauris, vitae ultricies arcu. Praesent vitae metus sed massa consectetur vulputate id nec dui.</p>
                     </div>
                  </div><!-- /.toggle -->
                  <div class="toggle">
                     <div class="toggle-title"><span>ILLUSTRATION</span></div>
                     <div class="toggle-content">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean ipsum nisi, interdum ut nisi a, congue ultricies arcu. Vivamus sit amet erat orci. Cras congue ligula eros, eget egestas nisi gravida semper. Proin vel malesuada mauris, vitae ultricies arcu. Praesent vitae metus sed massa consectetur vulputate id nec dui.</p>
                     </div>
                  </div><!-- /.toggle -->
                  <div class="toggle">
                     <div class="toggle-title"><span>WEBDESIGN</span></div>
                     <div class="toggle-content">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean ipsum nisi, interdum ut nisi a, congue ultricies arcu. Vivamus sit amet erat orci. Cras congue ligula eros, eget egestas nisi gravida semper. Proin vel malesuada mauris, vitae ultricies arcu. Praesent vitae metus sed massa consectetur vulputate id nec dui.</p>
                     </div>
                  </div><!-- /.toggle -->
               </div><!-- /.accordion -->
            </div><!-- /.span6 -->
            <div class="span6">
               <div>
                  <img src="images/responsive.png" alt="image" class="img-right">
               </div>
            </div><!-- /.span6 -->
        </div><!-- /.row -->
      </div><!-- /.container -->
   </section>