<section class="section entry-post userDoc" style="padding-bottom: 0">
   <div class="container">
    <div class="row">
        <h2>My Vouches</h2>
        <div class="vouchRequestContainer">
            <div class="vouchRequestHeading">Request for Vouch</div>
            <label>Email-id:</label>
            <input type="email" id="VouchEmail" placeholder="abc@gmail.com">
            <div type="button" class="btn btn-primary SendVouchRequest">Vouch Me!</div>
        </div>
        <div class="myVouchContainer">
            
        </div>
   </div>
</div>
</section>